/*colors: background-color: #658199 accent-color #00FFED  */

* {
  background-color: #658199;
  color: white;
}

body {
  width: 960px;
  margin: 0 auto;
}

ul {
  background-color: #1477CC;
  border: 5px solid #00FFED;
}

ul li {
  display: inline-block;
  padding: 10px;
}

ul li img {
  width: 200px;
  height: 200px;
}