/*colors: background-color: #658199 accent-color #00FFED  */

* {
  background-color: hsl(208, 20%, 50%);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  width: 960px;
  margin: 0 auto;
}

#pics-container {
  text-align: center;
  background-color:#1477CC;
  border: 5px solid #00FFED;
  width: 800px;
  margin: 0 auto;
} 

#pics-container img {
  display: inline-block;
  padding: 10px;
  width: 200px;
  height: 200px;
}

ul {
  background-color: #1477CC;
  border: 5px solid #00FFED;
}

